<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Stan's Stock Prediction App</title>

<!-- FONT –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic"/>

<!-- CSS –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css"/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css"/>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ url_for('static',filename='css/custom.css') }}"/>

<!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="{{ url_for('static',filename='images/stock_pics_01.jpg') }}" />

</head>


<body class="container">

    <div class="top_head homeHead"></div>

    <section class="section">
        <div class = "columns">
            <div class = "column is-one-half">
                <h1 class="title">Welcome to Stan's Stock Prediction App</h1>
                
                <p>Some investors are happy putting their money into a boring fund and letting it simmer for the long term. Others are more interested in taking a hands-on approach to managing their money with active stock trading. Whether you buy and sell once in a while or want to enter a trade or more every day, there’s definitely a stock prediction app for you.</p>
                <br>
                <h2>Trade Stocks. Make Money.</h2>
                <br>
                <p>Build your portfolio and react to the market in real time.</p>
                <br>
                <p>Input your ticker here:</p>
                <input id="input_stock"></input>
                <button id="submit_button" onClick="stock_direct()">Submit</button>
            </div>

            <div class="column is-one-half">
                <img src="static/images/stock_pics_01.jpg" alt="stock_pics_01" />
            </div>

        </div>

        <br><br>
        <div class = "columns">
        
            <div class="column is-one-half">
                <img src="static/images/about_me.jpg" style="height: 350px; display: block; margin: 0 auto;" alt="about_me_01" />
            </div>

            <div class = "column is-one-half">
                <h1 class="title">About me</h1>
                
                <p>Hi! My name is Stan. I am currently a Data Engineer from Montreal, Quebec.</p>
                <br>
                <h2>I enjoy working on complex problems and optimize them. I love to learn and I am passionnate about new technologies including Data Science, Machine Learning, Cloud Computing and Web Development. </h2>
                <br>
                <p>I am currently pursuing studies at McGill University while working full-time and this is one of my university projects.</p>
                <br>
                <p>Outside of work and studies, I have a lot of passions. I play guitar, read a lot of books, travel a lot and I enjoy running marathons every year.</p>

            </div>

        </div>


    </section>

    <footer class="text_centered container">
        <p>&copy; Copyright 2020, Stanley T.</p>
        <br><br><br>
    </footer>
</body>

<script>
    function stock_direct () {
        location.href = '../get_stock_val/' + document.getElementById("input_stock").value;
    }
</script>

</html>